<h2 mat-dialog-title>Register</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="registerUser.email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="registerUser.firstName" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="registerUser.lastName" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="registerUser.password" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" [(ngModel)]="registerUser.confirmPassword" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="register()">Register</button>
</mat-dialog-actions>
